server-port 8081
manager-url "manager:9090"
consul {
    address "consul:8500"
    health {
        interval "5s"
        timeout "5s"
        http "/api/health"
        deregister-timeout "10s"
    }
}